<!DOCTYPE html>
<html>
<head>
    <title>University Webpage Template</title>
    <link rel="stylesheet" type="text/css" href="university.css">
</head>
<body>
    <header>
        <h1>Welcome to My University</h1>
    </header>

    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Departments</a></li>
            <li><a href="#">Admissions</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <main>
        <section>
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor pariatur soluta molestias beatae maiores veniam libero doloremque cupiditate, ratione et.</p>
        </section>

        <section>
            <h2>Academic Departments</h2>
            <ul>
                <li>Department of Computer Science</li>
                <li>Department of Economics</li>
                <li>Department of Biology</li>
                <li>Department of Psychology</li>
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2022 My University. All rights reserved.</p>
    </footer>
</body>
</html>